<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bsuir Schedule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Schedule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D104483E1A267D5000670898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D10E3DFD1A2CDB9D001B4BA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D10E3E111A2CDC94001B4BA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D196D02B1A2A967D00EA6901</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D19EB21A1A1824900055B0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D19EB2361A1824910055B0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
